.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.content {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
