.container {
    width: 20rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    background-color: var(--theme-container-color);
    box-shadow: 0 0 10px var(--blue-boxshadow-primary);
    top: 0;
    right: 0;
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.my-profile-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.my-profile-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
}

.profile-img {
    height: 30px;
}

.my-profile-link i {
    font-size: 1.2rem;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin: 0.2rem;
    padding: 0.1rem;
}

.close-btn img {
    font-size: 1.5rem;
}

.my-icon {
    background-color: white;
}

.close-btn:hover {
    background-color: var(--bg-sidebar-menu);
    transform: scale(1.1);
}

.close-btn:active {
    transform: scale(0.95);
}

.close-btn:focus {
    outline: 2px solid var(--white);
}

.side-nav-item {
    padding: 15px 50px;
}

.side-nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.side-nav-icon {
    height: 30px;
    min-width: 2rem;
    text-align: center;
}

/* testing */
.log-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* toggle btn styles*/
.toggle-btn-container {
    border-radius: 30px;
    margin: 0 auto;
}

.toggle-theme-btn {
    width: 100px;
    background-color: var(--bg-sidebar-toggle); /* Bright color to catch attention */
    color: var(--white);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px 10px;
    padding: 5px 10px;
}

.toggle-theme-btn:hover {
    background-color: var(--blue-btn-primary); /* Darker shade for hover effect */
    transform: scale(0.95);
}

.toggle-theme-btn:active {
    transform: scale(0.65);
}
