.card {
    margin: 0 auto;
    padding: 50px 0px;
}

:host ::ng-deep .p-carousel-item {
    display: flex;
    justify-content: center;
}

.weather-item {
    min-width: 100px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    transition: transform 0.2s ease;
    margin: 8px;
    padding: 20px 0px;
}

.weather-item:hover {
    background-color: var(--weekly-hover-shadow);
}

.image-wrapper {
    width: 120px;
    margin-bottom: 8px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}

.hour-temp p {
    font-weight: 600;
    font-size: 2em;
}
