.error-container {
    padding: 2rem;
}

.error-container h1 {
    font-size: 10rem;
    color: var(--blue-search-primary);
    text-shadow: 2px 2px 10px var(--text-shadow-error);
    margin: 0;
}

.error-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home-link {
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--blue-search-primary);
    color: var(#012a5b);
    text-decoration: none;
    transition: background-color 0.2s ease;
    padding: 0.75rem 1.5rem;
}

.home-link:hover {
    background-color: var(--white-hover);
}

/* Tablet */
@media (max-width: 768px) {
    .error-container h1 {
        font-size: 6rem;
    }

    .error-container p {
        font-size: 1.2rem;
    }

    .home-link {
        font-size: 0.95rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .error-container h1 {
        font-size: 4rem;
    }

    .error-container p {
        font-size: 1rem;
    }

    .home-link {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}
