.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    background-color: var(--bg-container-primary); 
    color: var(--black);
}

.container-main {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
}

/* Left panel styles */
.weather-conditions-main-left {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 150px;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-container-left-primary);
    padding: 1rem;
}

.weather-icon-wrapper {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-icon-primary);
}

.weather-icon-wrapper img {
    width: 150px;
}

.weather-data-main {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
    gap: 20px;
}

.weather-data-main > h1 {
    font-size: 3em;
}

.weather-description-data-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 30%;
    gap: 80px;
}

.weather-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.weather-description-data-main::before {
    width: 80%;
    height: 1px;
    display: block;
    content: '';
    background-color: var(--bg-container-after-element);
    margin: 0 auto;
    margin-top: 10px;
}

.weather-icon-data {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.weather-description-data {
    display: flex;
    gap: 10px;
}

.weather-image-wrapper {
    width: 60px;
    border-radius: 50%;
    background-color: var(--blue-btn-primary);
    display: flex;
    justify-content: center;
}

.weather-image-wrapper img {
    width: 40px;
}

/* left panel images */
.weather-icon-data img{
    max-width: 200px;
}

.rain-percentage-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.rain-percentage-display img {
    width: 50px;
    margin-top: 10px;
}

.rain-percentage-display p {
    font-weight: 800;
    color: var(--blue-btn-primary);
}

.degrees {
    font-size: 5rem;
}

.weather-description-image img{
    max-width: 200px;
    border-radius: 15px;
}

/* RIGHT panel styles */
.hightlights-header-section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

/* C to F unit-toggle buttons */
.unit-toggle {
  display: inline-flex;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--blue-btn-primary);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.unit-toggle button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: var(--blue-btn-primary);
  transition: background-color 0.3s, color 0.3s;
}

.unit-toggle button.active {
  background-color: var(--blue-btn-primary);
  color: white;
}


.weather-conditions-main-right {
    box-sizing: border-box;
    display: flex;
    flex: 2 1 600px;
    flex-direction: column;
    background-color: var(--bg-container-right-primary);
    padding: 2rem;
}

.highlights-section, .weekly-highlights-section {
    text-align: start;
}

.section-title {
    padding: 0 2.5em;
}

/* Highlights layout */
/* header section */
.highlights-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: scale(1.2);
}

a::after {
    content: "";
    width: 0px;
    transition: 0.4s;
    display: block;
}

a:hover::after {
    width: 100%;
    border: solid 0.5px;
}

.profile-container, .temperature-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.temperature-stat p {
    position: relative;
    bottom: 40px;
    z-index: 1;
}

.profile-img-container img{
    max-width: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.weather-conditions-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.conditions-highlights {
    box-sizing: border-box;
    max-width: 300px; 
    min-width: 300px;
    min-height: 250px;
    display: flex;
    flex: 1 2 300px; 
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.conditions-highlights h4 {
    align-self: flex-start;
    color: var(--gray-text);
    font-weight: 200;
    padding-left: 20px;
}

/* wind section */
.wind-status p {
    font-weight: 600;
    font-size: 2.5em;
}

/* sun-status section */
.sun-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* humidity-stats */
.humidity-data {
    display: flex;
    flex-direction: row;
}

.humidity-stats {
    display: flex;
    align-items: center;
    gap: 90px;
}

.humidity-stats p {
    align-self: start;
    font-weight: 600;
    font-size: 2.5em;
    padding-left: 20px;
}

.progressbar-card {
    align-self: center;
}

.p-progressbar {
    background-color: transparent;
    border: 1px solid black;
}

.vertical-progressbar {
    width: 100px;
    transform: rotate(-90deg);
}

.vertical-text-progressbar {
    width: 100%;
    height: 100%;
}

/* visibility-stats */
.visibility-stats {
    display: flex; 
    flex-direction: row;
    gap: 90px;
    font-weight: 600;
    font-size: 2.5em;
}

.visibility-stats img{
    width: 50px;
}

.sun-data {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* air stats */
.air-stats {
    display: flex;
    align-items: center;
    gap: 150px;
}

.air-stats p {
    font-weight: 600;
    font-size: 2.5em;
    padding-left: 20px;
}

.vertical-progressbar-air {
    transform: rotate(-90deg);
    width: 100px;
}

/* hidden block element */
.uv-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.uv-mask {
    width: 200px;
    height: 50%;
    position: absolute;
    top: 62%;
    text-align: center;
    background-color: var(--white);
}

/* UV index */
.uv-index-status {
    width: 200px; 
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px auto; 
}

.uv-index-status p {
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 2.5em;
}

.circle-particle,
.scale-particle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transform-origin: center center;
}

.circle-particle {
    top: 13%;
}

.scale-particle {
    top: 10%;
}

.scale-particle {
    transform: rotate(0deg); 
}

/* Responsive styles */
@media (max-width: 1080px) {
    .weather-description-container {
        align-items: center;
    }
}
@media (max-width: 900px) {
    .conditions-highlights {
        flex: 1 1 calc(50% - 1rem);
    }

    .weekly-highlights-item {
        flex: 1 1 calc(50% - 0.5rem);
    }

    .weather-description-container {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .container-main {
        flex-direction: column;
    }

    .conditions-highlights {
        flex: 1 1 100%;
    }

    .weekly-highlights-item {
        flex: 1 1 100%;
    }

    .weather-description-container {
        align-items: center;
    }

    .highlights-header-section {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 30px;
    }
}

/* skeleton custom + Optional: Modify the shimmer animation */
p-skeleton.custom-skeleton {
    background-color: var(--skeleton) !important;
}

.p-skeleton::after {
    background-image: linear-gradient(90deg,rgba(224, 224, 224, 0) 0%,rgba(245, 245, 245, 0.8) 50%,rgba(224, 224, 224, 0) 100%) !important;
}
